USE [master]
GO
/****** Object:  Database [QLHS_Login]    Script Date: 11/28/2022 5:31:47 AM ******/
CREATE DATABASE [QLHS_Login]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHS_Login', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLHS_Login.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHS_Login_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLHS_Login_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHS_Login].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHS_Login]
GO
/****** Object:  Table [Quyen]    Script Date: 11/28/2022 5:31:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Quyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TK]    Script Date: 11/28/2022 5:31:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TK](
	[MaTK] [nvarchar](50) NOT NULL,
	[TK] [nvarchar](50) NOT NULL,
	[MK] [nvarchar](50) NULL,
	[FK_MaQuyen] [int] NULL
) ON [PRIMARY]
GO
INSERT [Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'admin')
INSERT [Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'user')
GO
INSERT [TK] ([MaTK], [TK], [MK], [FK_MaQuyen]) VALUES (N'TK01', N'Admin', N'123', 1)
INSERT [TK] ([MaTK], [TK], [MK], [FK_MaQuyen]) VALUES (N'TK02', N'User1', N'000', 2)
INSERT [TK] ([MaTK], [TK], [MK], [FK_MaQuyen]) VALUES (N'TK03', N'User2', N'111', 2)
GO
/****** Object:  StoredProcedure [proc_logic]    Script Date: 11/28/2022 5:31:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [proc_logic]
@user nvarchar(50),
@pass nvarchar(50)
as BEGIN
     SELECT * FROM TK WHERE TK=@user AND MK = @pass
END
GO
USE [master]
GO
